<img class="sobre-img-tomate" src="../../assets/images/tomato.png" alt="Imagem de tomate">
<div class="sobre">
    <div class="sobre-img"> </div>
    <div class="sobre-text">
        <h2> Sobre a La P<a>i</a><a>z</a><a>z</a>a </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis justo sem. 
            Donec consequat, nunc a dapibus dapibus, justo dolor tristique tortor, sit amet 
            tincidunt lorem nisl at ex. Cras dolor purus, varius in euismod pretium, 
            finibus nec mi. Curabitur aliquam pharetra lectus in pharetra. Nullam viverra 
            elementum neque quis fermentum. 
        </p>
        <div class="sobre-text-btn"> Ler Mais </div>
    </div>
</div>