<div class="mais-vendidas">
    <h2>Mais Vendidas</h2>

    <div class="pizzas">
        <div class="pizza-opcao">
            <!-- <div class="pizza-top"> -->
                <img class="pizza-img" src="../../assets/images/pizza-1.png" alt="">
                <!-- <div class="btn-love">  </div> -->
            <!-- </div> -->   
            <div class="pizza-bg">
                <h2> La Cuma </h2>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique veritatis quae nemo </p>
                <h1> R$ 23 </h1>
                <div class="btn-comprar">
                    Comprar agora
                </div>
            </div>
        </div>
        <div class="pizza-opcao">
            <img class="pizza-img" src="../../assets/images/pizza-2.png" alt="">

            <div class="pizza-bg">
                <h2> La Meta </h2>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique veritatis quae nemo </p>
                <h1> R$ 22 </h1>
                <div class="btn-comprar">
                    Comprar agora
                </div>
            </div>
        </div>
        <div class="pizza-opcao">
            <img class="pizza-img" src="../../assets/images/pizza-3.png" alt="">

            <div class="pizza-bg">
                <h2> La Bana </h2>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique veritatis quae nemo </p>
                <h1> R$ 25 </h1>
                <div class="btn-comprar">
                    Comprar agora
                </div>
            </div>
        </div>
        <div class="pizza-opcao">
            <img class="pizza-img" src="../../assets/images/pizza-4.png" alt="">

            <div class="pizza-bg">
                <h2> La Toca </h2>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique veritatis quae nemo </p>
                <h1> R$ 24 </h1>
                <div class="btn-comprar">
                    Comprar agora
                </div>
            </div>
        </div>
    </div>
    <!-- <img class="img-pepper" src="../../assets/images/leaf.png" alt="Imagem de Folha"> -->
    <img src="../../assets/images/pepper.png" alt="Imagem de Pimenta">
</div>